<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />

    <title>Aadhya Homoeopathy & Yoga Clinic</title>

    <meta
      name="keywords"
      content="Caremed HTML5 Responsive Template Medicine COVID-19 Corona Hospital"
    />
    <meta
      name="description"
      content="Caremed - Hospital HTML5 Responsive Template"
    />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="static/assets/images/favicon.ico"
    />

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="static/assets/css/plugins/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="static/assets/css/plugins/datepicker.min.css"
    />

    <!-- Main CSS File -->
    <link rel="stylesheet" href="static/assets/css/style.min.css" />
    <link rel="stylesheet" href="static/assets/css/demo/demo-3.css" />
    <link
      rel="stylesheet"
      href="static/assets/vendor/fontawesome/css/all.min.css"
    />
  </head>
  <body>
    <!------------------------------------------------
	loading overlay - start
	------------------------------------------------>
    <div class="loading-overlay">
      <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!------------------------------------------------
	loading overlay - end
	------------------------------------------------>
    <div class="page-wrapper">
      <!------------------------------------------------
		navigation - start
		------------------------------------------------>
        <header class="header">
            <div class="header-top">
              <div class="container-fluid">
                <div class="header-left">
                  <ul class="top-menu top-link-menu">
                    <li>
                      <a href="#" class="link-phone"
                        ><i class="fas fa-phone"></i>7435884976</a
                      >
                    </li>
                    <li>
                      <a href="#" class="link-email"
                        ><i class="fas fa-envelope-open"></i
                        >info@aadhyahomoeoclinic.com</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="header-right">
                  <ul class="top-menu">
                    <li>
                      <a href="#" class="social-link"
                        ><i class="fab fa-facebook"></i>Facebook</a
                      >
                    </li>
                    <li>
                      <a href="#" class="social-link"
                        ><i class="fab fa-instagram"></i>Instagram</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header-middle sticky-header">
              <div class="header-left">
                <a href="/" class="logo">
                  <h1 class="mb-0">
                    <img
                      src="static/assets/images/logo.png"
                      alt="Aadhya Homoeo Clinic"
                      width="100%"
                      height="auto"
                    />
                  </h1>
                </a>
              </div>
              <div class="header-right">
                <button class="mobile-menu-toggler">
                  <span class="sr-only">Toggle mobile menu</span>
                  <i class="fal fa-bars"></i>
                </button>
                <nav class="main-nav ls-20">
                  <ul class="menu sf-arrows">
                    <li class="active">
                      <a href="/" class="sf-with-ul">Home</a>
                    </li>
                    <li>
                      <a href="/aboutus"><i class="sf-with-ul">About Us</i></a>
                    </li>
                    <li><a href="/treatments">Treatments</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                  </ul>
                  <!-- End .menu -->
                </nav>
                <!-- End .main-nav -->
    
                <a href="/appointment" class="btn btn-sm btn-primary-color ls-0">
                  <span>Book an Appointment</span>
                </a>
                <a href="/appointment" class="icon-alt"
                  ><i class="fal fa-notes-medical"></i
                ></a>
              </div>
            </div>
          </header>
      <!------------------------------------------------
		navigation - end
		------------------------------------------------>
      <main class="main">
        <!------------------------------------------------
		    page header - start
		    ------------------------------------------------>
        <div class="page-header bg-more-light">
          <div class="container">
            <h2 class="page-title">About</h2>
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                <li class="breadcrumb-item active" aria-current="page">
                  About
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <!------------------------------------------------
		    page header - end
		    ------------------------------------------------>
        <!------------------------------------------------
		    about content - start
		    ------------------------------------------------>
        <div class="container about-primary-section">
          <div class="row">
            <div
              class="
                col-lg-6
                offset-lg-0
                col-sm-8
                offset-sm-2
                col-10
                offset-1
                order-lg-1 order-2
              "
            >
              <div class="banner-content">
                <h3 class="banner-title">About - Dr. Hetal Joshi</h3>
                <p style="text-align: justify">
                  Homoeopathy" THY NAME IS CURE " . A Homoeopath is not only a
                  doctor but a complete solution of mental illness, physical
                  illness means over all HEALTH
                </p>
                <p style="text-align: justify">
                  HELLO I AM Dr. Hetal Joshi a homoeopath by profession, singer
                  by passion and friend philosopher and guide by relation. I
                  have total more then 12 years of experience in this field and
                  cured cases of alopacia, acute / chronic illnesses, lifestyle
                  diseases like blood pressure, obesity, diabetes, thyroid, any
                  type of skin problems like eczema, psoriasis fungal
                  infections, herpes etc.
                </p>
              </div>
            </div>
            <div
              class="
                col-lg-6
                offset-lg-0
                col-sm-8
                offset-sm-2
                col-10
                offset-1
                order-lg-2 order-1
                d-lg-inline-flex
                justify-content-lg-end
              "
            >
              <figure>
                <img
                  src="static/assets/images/banner/aside-2.jpg"
                  class="img-aside rounded-img"
                  alt="Banner-aside"
                  width="470"
                  height="447"
                />
              </figure>
            </div>
            <div
              class="
                col-lg-12
                offset-lg-0
                col-sm-8
                offset-sm-2
                col-10
                offset-1
                order-3
              "
            >
              <h2 class="sign">
                <img src="static/assets/images/other/signature.png" />
              </h2>
              <h5 class="mb-0">Dr. Hetal Joshi</h5>
            </div>
          </div>
        </div>
        <!------------------------------------------------
		    about content - end
		    ------------------------------------------------>
      </main>
      <!------------------------------------------------
		footer - start
		------------------------------------------------>
      <footer class="footer bg-primary-color">
        <div class="container">
          <div class="footer-bottom">
            <div class="row d-1flex justify-content-center">
              <div class="col-lg-16 col-sm-7 col-10">
                <p>
                  &copy; Copyright AADHYA HOMOEOPATHY &amp; YOGO CLINIC. All
                  Rights Reserved.
                </p>
              </div>
              <div
                class="col-lg-6 col-sm-7 col-10"
                style="text-align: right; margin-top: -40px"
              >
                <a href="https://www.kapsicumweb.com" target="_blank"
                  ><img src="static/assets/images/kapsicumweb.png"</a
                >
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!------------------------------------------------
		footer - end
		------------------------------------------------>
    </div>

    <button id="scroll-top" title="Back to Top">
      <i class="fal fa-angle-up"></i>
    </button>

    <div class="mobile-menu-overlay"></div>

    <div class="mobile-menu-container mobile-menu-light">
      <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="fal fa-times"></i></span>
        <nav class="mobile-nav mt-3">
          <ul class="mobile-menu">
            <li><a href="index.html" class="sf-with-ul">Home</a></li>
            <li class="active">
              <a href="about.html"><i class="sf-with-ul">About</i></a>
            </li>
            <li><a href="departments-2.html">Treatments</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
          </ul>
          <!-- End .menu -->
        </nav>

        <div class="social-icons mt-6">
          <a
            href="index.html#"
            class="social-icon"
            target="_blank"
            title="Facebook"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="index.html#"
            class="social-icon"
            target="_blank"
            title="Instagram"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>
    <!-- End .mobile-menu-container -->

    <!-- Plugins JS File -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/jquery.waypoints.min.js"></script>
    <script src="static/assets/js/plugins/owl.carousel.min.js"></script>
    <script src="static/assets/js/plugins/datepicker.min.js"></script>
    <script src="static/assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="static/assets/js/plugins/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="static/assets/js/main.min.js"></script>
  </body>
</html>
