<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />

    <title>Aadhya Homoeopathy & Yoga Clinic</title>

    <meta
      name="keywords"
      content="Caremed HTML5 Responsive Template Medicine COVID-19 Corona Hospital"
    />
    <meta
      name="description"
      content="Caremed - Hospital HTML5 Responsive Template"
    />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="static/assets/images/favicon.ico"
    />

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="static/assets/css/plugins/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="static/assets/css/plugins/datepicker.min.css"
    />

    <!-- Main CSS File -->
    <link rel="stylesheet" href="static/assets/css/style.min.css" />
    <link
      rel="stylesheet"
      href="static/assets/vendor/fontawesome/css/all.min.css"
    />
  </head>
  <body>
    <!------------------------------------------------
	loading overlay - start
	------------------------------------------------>
    <div class="loading-overlay">
      <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!------------------------------------------------
	loading overlay - end
	------------------------------------------------>
    <div class="page-wrapper">
      <!------------------------------------------------
		navigation - start
		------------------------------------------------>
      <header class="header">
        <div class="header-top">
          <div class="container-fluid">
            <div class="header-left">
              <ul class="top-menu top-link-menu">
                <li>
                  <a href="#" class="link-phone"
                    ><i class="fas fa-phone"></i>7435884976</a
                  >
                </li>
                <li>
                  <a href="#" class="link-email"
                    ><i class="fas fa-envelope-open"></i
                    >info@aadhyahomoeoclinic.com</a
                  >
                </li>
              </ul>
            </div>
            <div class="header-right">
              <ul class="top-menu">
                <li>
                  <a href="#" class="social-link"
                    ><i class="fab fa-facebook"></i>Facebook</a
                  >
                </li>
                <li>
                  <a href="#" class="social-link"
                    ><i class="fab fa-instagram"></i>Instagram</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="header-middle sticky-header">
          <div class="header-left">
            <a href="/" class="logo">
              <h1 class="mb-0">
                <img
                  src="static/assets/images/logo.png"
                  alt="Aadhya Homoeo Clinic"
                  width="100%"
                  height="auto"
                />
              </h1>
            </a>
          </div>
          <div class="header-right">
            <button class="mobile-menu-toggler">
              <span class="sr-only">Toggle mobile menu</span>
              <i class="fal fa-bars"></i>
            </button>
            <nav class="main-nav ls-20">
              <ul class="menu sf-arrows">
                <li class="active">
                  <a href="/" class="sf-with-ul">Home</a>
                </li>
                <li>
                  <a href="/aboutus"><i class="sf-with-ul">About Us</i></a>
                </li>
                <li><a href="/treatments">Treatments</a></li>
                <li><a href="/contactus">Contact Us</a></li>
              </ul>
              <!-- End .menu -->
            </nav>
            <!-- End .main-nav -->

            <a href="/appointment" class="btn btn-sm btn-primary-color ls-0">
              <span>Book an Appointment</span>
            </a>
            <a href="/appointment" class="icon-alt"
              ><i class="fal fa-notes-medical"></i
            ></a>
          </div>
        </div>
      </header>
      <!------------------------------------------------
		navigation - end
		------------------------------------------------>
      <main class="main">
        <!------------------------------------------------
			hero slider - start
			------------------------------------------------>
        <div
          class="
            intro-slider intro-slider-1
            owl-carousel owl-theme owl-nav-inside owl-light
            slide-animate
            mb-0
          "
          data-toggle="owl"
          data-owl-options='{
					"dots": false,
					"nav": false, 
					"responsive": {
						"1200": {
							"nav": true
						}
					}
				}'
        >
          <!-- 
					background image is added through css and can be modified in the _sections.scss file
					the image is added to the .bg-section-1 class.
				-->
          <div class="banner intro-slide bg-section bg-section-1">
            <div class="container">
              <div class="banner-content">
                <h1 class="banner-title">Doctor who treats with care.</h1>
                <p class="banner-info">
                  Dr. Hetal is a skilled doctor having tremendous experience
                  with wide range of diseases to serve the needs of the
                  patients.
                </p>
                <div class="banner-actions">
                  <a
                    href="appointment-step1.html"
                    class="btn btn-secondary-color"
                  >
                    <span>Book an Appointment</span>
                  </a>
                </div>
              </div>
              <div class="foreground-img">
                <img
                  src="static/assets/images/demos/demo-1/banner/banner-hero-1-fore.png"
                  alt="Banner-slide"
                />
              </div>
            </div>
          </div>
          <!-- 
					background image is added through css and can be modified in the _sections.scss file
					the image is added to the .bg-section-2 class.
				-->
        </div>
        <!------------------------------------------------
			hero slider - end
			------------------------------------------------>
        <!------------------------------------------------
			schedule section - start
			------------------------------------------------>
        <div class="bg-primary-color schedule-section">
          <div class="container">
            <div class="row position-relative">
              <div
                class="
                  col-lg-5
                  offset-lg-0
                  col-md-8 col-sm-8
                  offset-sm-2
                  col-10
                  offset-1
                "
              >
                <div class="widget">
                  <h4 class="widget-title">
                    <i class="far fa-clock"></i>Working hours
                  </h4>
                  <p class="widget-desc">
                    Please check below for our working hours throughout the week
                    excluding national holidays.
                  </p>
                  <div class="widget-hours">
                    <span>Monday — Friday</span>
                    <span class="time"
                      >9:00<sup>AM</sup> — 10:00<sup>PM</sup></span
                    >
                  </div>
                  <div class="widget-hours">
                    <span>Saturday — Sunday</span>
                    <span class="time"
                      >10:00<sup>AM</sup> — 9:00<sup>PM</sup></span
                    >
                  </div>
                </div>
              </div>
              <div
                class="
                  col-lg-5
                  offset-lg-1
                  col-md-8 col-sm-8
                  offset-sm-2
                  col-10
                  offset-1
                "
              >
                <div class="widget">
                  <h4 class="widget-title">
                    <i class="far fa-user"></i>Online Consultancy
                  </h4>
                  <p class="widget-desc">
                    Dr. Hetal is available most of the week and if not you can
                    always book appointment for Online Consultancy.
                  </p>
                  <a
                    href="doctors.html"
                    class="
                      btn btn-sm btn-secondary-color btn-secondary-color-1
                      ls-0
                    "
                  >
                    <span>Online Consultancy</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!------------------------------------------------
			schedule section - end
			------------------------------------------------>
        <!------------------------------------------------
			disease section - start
			------------------------------------------------>
        <div class="container disease-section">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-12 col-md-8 col-sm-8 col-10">
              <h2 class="ls-n-20 text-center section-heading">
                Quality care for you and the ones you love.
              </h2>
            </div>
          </div>
          <div class="blog-slider row d-flex justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-8 col-10">
              <div class="card">
                <div class="card-heading">
                  <figure>
                    <i class="fal fa-head-side-cough"></i>
                  </figure>
                  <h4 class="card-title">Common<br />Conditions</h4>
                </div>
                <div class="card-content">
                  <ul class="card-menu ls-20">
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link"
                        >Cold and Flu</a
                      >
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link"
                        >Urinary Track Infections</a
                      >
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link"
                        >Sinus Infections</a
                      >
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link">Pink Eye</a>
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link"
                        >Bacterial Infections</a
                      >
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link">STDs</a>
                    </li>
                  </ul>
                  <div class="btn-link">
                    <a href="departments-1.html">Learn More</a
                    ><i class="far fa-caret-right"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8 col-10">
              <div class="card">
                <div class="card-heading">
                  <figure>
                    <i class="fal fa-lungs"></i>
                  </figure>
                  <h4 class="card-title">Ongoing<br />Conditions</h4>
                </div>
                <div class="card-content">
                  <ul class="card-menu ls-20">
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link">Diabetes</a>
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link"
                        >Hypertension</a
                      >
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link">Asthma</a>
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link"
                        >Depression</a
                      >
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link">Anxiety</a>
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link"
                        >Thyroid Disorders</a
                      >
                    </li>
                  </ul>
                  <div class="btn-link">
                    <a href="departments-1.html">Learn More</a
                    ><i class="far fa-caret-right"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8 col-10">
              <div class="card">
                <div class="card-heading">
                  <figure>
                    <i class="fal fa-heartbeat"></i>
                  </figure>
                  <h4 class="card-title">Everyday<br />Treatments</h4>
                </div>
                <div class="card-content">
                  <ul class="card-menu ls-20">
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link">PrEP</a>
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link"
                        >Birth Control</a
                      >
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link"
                        >Prescription</a
                      >
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link">Hair Loss</a>
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link"
                        >Prescription Refills</a
                      >
                    </li>
                    <li class="menu-item">
                      <i class="far fa-caret-right"></i
                      ><a href="treatments.html" class="item-link"
                        >Mental Health</a
                      >
                    </li>
                  </ul>
                  <div class="btn-link">
                    <a href="departments-1.html">Learn More</a
                    ><i class="far fa-caret-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!------------------------------------------------
			Testimonials section - start
			------------------------------------------------>
        <!-- 
				background image is added through css and can be modified in the _sections.scss file
				the image is added to the .bg-section-11 class.
			-->
        <div
          class="
            review-bg-section
            bg-section bg-section-11
            type-section-margin-bottom
          "
        >
          <div class="container position-relative">
            <div class="row">
              <div
                class="
                  col-lg-7
                  offset-lg-0
                  col-sm-8
                  offset-sm-2
                  col-10
                  offset-1
                "
              >
                <div class="banner-content">
                  <h2 class="banner-title">Testimonials</h2>
                  <div
                    class="review-carousel owl-carousel owl-simple"
                    data-toggle="owl"
                    data-owl-options='{
									"nav": false, 
									"dots": false,
									"margin": 35,
									"responsive": {
										"768": {
											"nav": true
										}
									}
								}'
                  >
                    <div
                      class="card card-review review-carousel align-items-start"
                    >
                      <div class="card-heading align-items-start">
                        <figure>
                          <img
                            src="static/assets/images/avatar/avatar-6.png"
                            class="avatar customer-avatar"
                            alt="Avatar"
                            width="102"
                            height="102"
                          />
                          <div class="card-review-quote">
                            <span>“</span>
                          </div>
                        </figure>
                        <div class="review-info">
                          <h4 class="review-author">Neha Gupta</h4>
                          <span class="review-city">Mumbai</span>
                        </div>
                      </div>
                      <div class="card-content" style="margin-right: 50px">
                        <p
                          style="
                            text-align: justify;
                            font-size: 15px;
                            overflow: hidden;
                          "
                        >
                          “Dr Hetal is very friendly,. A good listener and
                          provided me with excellent treatment for my 6 year old
                          daughter. I stay in Mumbai and my daughter was quite
                          sensitive to climate change specially in rains here.
                          Dr hetal gave me so much confidence and trust in
                          homeopathy treatment . My daughter built her immunity
                          with right medication under her guidance. My daughter
                          is under her completely for more than 1.5 years and it
                          was the end of endless cycle of cold cough fever and
                          weight loss.
                          <br /><br />
                          I had psoriasis from past 6 years. I visited atleast 5
                          doctors from Mumbai and Delhi. Their treatment will
                          give temporarily relief but flares up as soon as I
                          stop steroids. Then I spoke to Dr Hetal about my
                          condition and started consulting her online. She is
                          very compassionate and professional in her approach. I
                          realised her confidence in treating my condition with
                          her medication. I am happy to share that within 6
                          months I am able to overcome my condition. All is
                          good. Thank you Dr Hetal.”
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-rating">
              <p class="card-info ls-0">
                Over 1000s patients treated and cared for.
              </p>
            </div>
          </div>
          <div class="foreground-img">
            <img
              src="static/assets/images/demos/demo-3/banner/banner-big-fore.png"
              alt="Banner-slide"
            />
          </div>
        </div>
        <!------------------------------------------------
			Testimonaials section - end
			------------------------------------------------>
      </main>
      <!------------------------------------------------
		footer - start
		------------------------------------------------>
      <footer class="footer bg-primary-color">
        <div class="container">
          <div class="footer-bottom">
            <div class="row d-1flex justify-content-center">
              <div class="col-lg-16 col-sm-7 col-10">
                <p>
                  &copy; Copyright AADHYA HOMOEOPATHY &amp; YOGO CLINIC. All
                  Rights Reserved.
                </p>
              </div>
              <div
                class="col-lg-6 col-sm-7 col-10"
                style="text-align: right; margin-top: -40px"
              >
                <a href="https://www.kapsicumweb.com" target="_blank"
                  ><img src="static/assets/images/kapsicumweb.png"</a
                >
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!------------------------------------------------
		footer - end
		------------------------------------------------>
    </div>
    <button id="scroll-top" title="Back to Top">
      <i class="fal fa-angle-up"></i>
    </button>

    <div class="mobile-menu-overlay"></div>

    <div class="mobile-menu-container mobile-menu-light">
      <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="fal fa-times"></i></span>
        <nav class="mobile-nav mt-3">
          <ul class="mobile-menu">
            <li class="megamenu-container active">
              <a href="index.html" class="sf-with-ul">Home</a>
            </li>
            <li>
              <a href="about.html"><i class="sf-with-ul">About Us</i></a>
            </li>
            <li><a href="departments-2.html">Treatments</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
          </ul>
          <!-- End .menu -->
        </nav>

        <div class="social-icons mt-6">
          <a
            href="index.html#"
            class="social-icon"
            target="_blank"
            title="Facebook"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="index.html#"
            class="social-icon"
            target="_blank"
            title="Instagram"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>

    <!-- Plugins JS File -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/jquery.waypoints.min.js"></script>
    <script src="static/assets/js/plugins/owl.carousel.min.js"></script>
    <script src="static/assets/js/plugins/datepicker.min.js"></script>
    <script src="static/assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="static/assets/js/plugins/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="static/assets/js/main.min.js"></script>
  </body>
</html>
